html {
	scroll-behavior: smooth;
}

body {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size:1.1em;
	line-height: 1.5;
	color: #404040;
	margin: 0;
	max-width: 55rem;
	margin: 0 auto;
	padding: 4rem 3rem;
}

a {
	color: #b74949;
}

h1 {
	font-size: 3em;
	margin-bottom: 0;
	text-align: center;
}
h2 {
	font-size: 1.8em;
}
h3 {
	font-size: 1.4em;
}

h1, h2, h3 {
	line-height: normal;
}
h1, h2, h3, strong {
	color: #333;	
}

p, ul, ol {
	margin-bottom: 1rem;
}

li {
	margin-bottom: 0.5rem;
}

/** HEADER **/
header {
	margin-bottom:3rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #ddd;
}
header h1 {
	margin-top: 0px;
}

.tagline {
	font-size:1.3em;
	max-width: 80%;
	margin: 1em auto 2em auto;
	font-style: italic;
	text-align: center;
	color: #b74949;
}

/** SECTIONS **/
section {
	margin-bottom: 3rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #ddd;
}

/** MAP **/
#mapid {
	height: 300px;
}
.leaflet-popup-content ul {
	list-style: none;
	padding-left: 0px;
	max-height: 150px;
    overflow-y: auto;
}

/** UPCOMING EVENTS **/
.meetups {
	list-style: none;
	padding-left: 0px;
}

.meetup {
	display: grid;
	grid-template-columns: 70px repeat(6, 10%);
	margin-bottom: 0.4rem;
	transition: background .30s ease-in-out;
	-moz-transition: background .30s ease-in-out;
	-webkit-transition: background .30s ease-in-out;
}

.meetup.active {
	background-color: rgba(183, 73, 73, 0.25);
	border-radius: 5px;
}

.datebox {
	display: table-cell;
	min-width: 70px;
    border: 1px solid #b74949;
    margin-right: 5px;
    font-size: 13px;
	border-radius: 5px;
	text-align: center;
	line-height: 1.3;
}
.datebox .dow {
	background-color: rgba(183, 73, 73, 0.30);
	padding: 3px 3px 1px 0px;
	text-transform: uppercase;
	font-weight: 600;
}
.datebox .date {
	padding: 3px 3px 0 3px;
}
.datebox .time {
	padding: 0 3px 2px;
}

.infobox {
	padding-left: 10px;
	grid-column-start: 2;
	grid-column-end: 10;
}
.infobox .city {
	font-style: italic;
    font-size: 16px;
}

.load-more {
	display: flex;
	list-style: none;
    margin: 20px 0 0 0;   
}
.load-more a {
	display: block;
	margin: 0 auto;
	border: 1px solid #b74949;
	padding: 10px;
	text-decoration: none;
}
.load-more a:hover {
	background: rgba(183, 73, 73, 0.30);
}

/** MOBILE STYLES **/
@media only screen and (max-device-width: 768px) {

	.tagline {
		margin-bottom: 0;
	}

	/** UPCOMING EVENTS **/
	ul.meetups {
		list-style: none;
		padding-left: 0;
	}
	ul.meetups li {
		margin-bottom: 2rem;
	}
	ul.meetups li a {
		display: block;
	}
	
	.datebox {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.infobox {
		grid-column-start: 3;
		grid-column-end: 10;
	}
	
	.load-more a {
		font-size: 2em;
		padding: 10px 25px;
	}
}