html {
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: #404040;
  margin: 0;
  max-width: 55rem;
  margin: 0 auto;
  padding: 4rem 3rem;
}

a {
  color: #b74949;
  cursor: pointer;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
  text-align: center;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.4em;
}

h1,
h2,
h3 {
  line-height: normal;
}
h1,
h2,
h3,
strong {
  color: #333;
}

p,
ul,
ol {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0.5rem;
}

/** HEADER **/
header {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}
header h1 {
  margin-top: 0px;
}

.tagline {
  font-size: 1.3em;
  max-width: 80%;
  margin: 1em auto 2em auto;
  font-style: italic;
  text-align: center;
  color: #b74949;
}

/** SECTIONS **/
section {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #ddd;
}

/** MAP **/
#mapid.active {
  height: 300px;
}
.leaflet-popup-content ul {
  list-style: none;
  padding-left: 0px;
  max-height: 150px;
  overflow-y: auto;
}

/** VIEW OPTIONS **/
.views {
  width: 100%;
  padding: 5px;
  margin: 25px 0;
}
.view {
  padding: 5px;
  display: none;
}
.viewLinks {
  width: 100%;
  padding: 5px;
  margin: 25px 0;
}
.viewLink {
  padding: 5px;
  color: #000;
}
.viewLink:hover, .viewLink.active {
  color: rgba(183, 73, 73);
  text-decoration: underline;
}
.showing {
  display: block;
}

/** WEEK VIEW **/
.weekview {
  position: relative;
  min-height: 250px;
}
.week {
  display: flex;
  flex-flow: row nowrap;
  flex: 2 50% auto;
  min-height: 250px;
}
.day {
  border: 1px solid #ccc;
  width: 15%;
}
/** WEEK VIEW MEETUPS **/
.weekday {
  text-transform: uppercase;
  background-color: #ddd;
  text-align: center;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.week-meetup, .week-meetup-none {
  border: 1px solid #b74949;
  border-radius: 5px; 
  font-size: 0.8em;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  list-style: none;
  line-height: 18px;
  margin: 5px;
}
.week-meetup-none {
  border: none;
}
.week-meetup:hover {
  transform: scale(1.015);
}
.week-time {
  background-color: rgba(183, 73, 73, 0.3);
  border-bottom: 1px solid #b74949;
  border-radius: 5px 5px 0 0;
  text-align: center;
}
.week-infobox {
  padding: 5px;
}
.week-city {
  font-style: italic;
}

/** LIST VIEW MEETUPS **/
.listview {
  list-style: none;
  padding-left: 0px;
}
.list-meetup {
  display: grid;
  grid-template-columns: 70px repeat(6, 10%);
  margin-bottom: 0.4rem;
  transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -webkit-transition: background 0.3s ease-in-out;
}
.list-meetup.active {
  background-color: rgba(183, 73, 73, 0.25);
  border-radius: 5px;
}

.datebox {
  display: table-cell;
  min-width: 70px;
  border: 1px solid #b74949;
  margin-right: 5px;
  font-size: 13px;
  border-radius: 5px;
  text-align: center;
  line-height: 1.3;
}
.datebox .dow {
  background-color: rgba(183, 73, 73, 0.3);
  padding: 3px 3px 1px 0px;
  text-transform: uppercase;
  font-weight: 600;
}
.datebox .date {
  padding: 3px 3px 0 3px;
}
.datebox .time {
  padding: 0 3px 2px;
}

.infobox {
  padding-left: 10px;
  grid-column-start: 2;
  grid-column-end: 10;
}
.infobox .city {
  font-style: italic;
  font-size: 16px;
}

.load-more {
  display: flex;
  list-style: none;
  margin: 20px 0 0 0;
}
.load-more a {
  display: block;
  margin: 0 auto;
  border: 1px solid #b74949;
  padding: 10px;
  text-decoration: none;
}
.load-more a:hover {
  background: rgba(183, 73, 73, 0.3);
}

/** SLIDER **/
.slide {
  display: none;
}

.prev, .next {
  background: rgba(0, 0, 0, 0.218);
  border-radius: 3px 0 0 3px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  width: auto;
  height: 100%;
  margin-top: 0px;
  padding: 16px;
  transition: 0.6s ease;
  user-select: none;
  cursor: pointer;
}
.next {
  right: -45px;
  border-radius: 0 3px 3px 0;
}
.prev {
  left: -45px;
}
.prev:hover, .next:hover {
  background-color: rgba(183, 73, 73, 0.3);
  color: white;
  transform: scale(1.015);
}
.prev:focus, .next:focus {
  outline: none;
}

.dots {
  text-align: center;
  padding: 15px;
}
.dot {
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  transition: background-color 0.6s ease;
}

.dot:hover, .dot.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/** MEDIA QUERIES **/
@media (max-width: 768px) {

  /** WEEK VIEW **/
  .week {
    flex-flow: column nowrap;
  }
  .day {
    width: 100%;
  }
}

/** MOBILE STYLES **/
@media only screen and (max-device-width: 768px) {
  .tagline {
    margin-bottom: 0;
  }

  /** VIEW OPTIONS **/
  .weekview {
    flex-flow: column;
  }
  .day {
    width: 100%;
  }

  /** LIST VIEW MEETUPS **/
  ul.listview {
    list-style: none;
    padding-left: 0;
  }
  ul.listview li {
    margin-bottom: 2rem;
  }
  ul.listview li a {
    display: block;
  }

  .datebox {
    grid-column-start: 1;
    grid-column-end: 2;
    max-height: 60px;
    max-width: 50px;
  }
  .infobox {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  .load-more a {
    font-size: 2em;
    padding: 10px 25px;
  }
  .week {
    flex-flow: column nowrap;
  }
}
